<?xml version="1.0"?>
<config>
    <modules>
        <OkazjeIntegrator>
            <version>1.0.0</version>
        </OkazjeIntegrator>
    </modules>
    <frontend>
        <routers>
            <okazje>
                <use>standard</use>
                <args>
                    <module>OkazjeIntegrator</module>
                    <frontName>okazje</frontName>
                </args>
            </okazje>
        </routers>
        <layout>
            <updates>
                <okazje>
                    <file>okazje.xml</file>
                </okazje>
            </updates>
        </layout>
        <translate>
            <modules>
                <OkazjeIntegrator>
                    <files>
                        <default>okazjeintegrator.csv</default>
                    </files>
                </OkazjeIntegrator>
            </modules>
        </translate>
    </frontend>  
    <global>
        <blocks>
            <okazje>
                <class>Okazje_Integrator_Block</class>
            </okazje>
        </blocks>
        <models>
            <okazje>
                <class>Okazje_Integrator_Model</class>
            </okazje>
        </models>
        <resources>
            <okazje_setup>
                <setup>
                    <module>Okazje_Integrator</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </okazje_setup>
            <okazje_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </okazje_write>
            <okazje_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </okazje_read>
        </resources>
        <helpers>
            <okazje>
                <class>Okazje_Integrator_Helper</class>
            </okazje>
        </helpers>
        <cache>
            <types>
                <okazje module="okazje" translate="label description">
                    <label>Okazje.info.pl</label>
                    <description>Okazje.info.pl resources</description>
                    <tags>okazje</tags>
                </okazje>
            </types>
        </cache>
    </global>
    <default>
        <okazje>
            <attr_other>
                <Producent>manufacturer</Producent>
            </attr_other>
        </okazje>
    </default>
    <adminhtml>
        <translate>
            <modules>
                <okazje>
                    <files>
                        <default>okazje.csv</default>
                    </files>
                </okazje>
            </modules>
        </translate>
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <okazje>
                                            <title>Okazje Integrator for Magento</title>
                                        </okazje>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <okazje>
                    <file>okazje.xml</file>
                </okazje>
            </updates>
        </layout>
    </adminhtml>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <okazje before="Mage_Adminhtml">Okazje_Integrator_Adminhtml</okazje>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
</config>
